body {
	font-size: 16px;
	font-family: 'Roboto', black;
	margin: 0;
}

body a, ul a li {
 	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

ul li, li {
	list-style-type: none;
}

a {
	text-decoration: none !important;
}

hr {
	border: 1px solid #e9e9e9;
}

.container {
	width: 80%;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.header:first-letter {
	border-top: 8px solid black;
	padding-top: 15px;	
}

.grid {
	display: grid;
	justify-content: space-between;
	gap: 1em;
}

/*Grid Layout*/
.one-column {
	grid-template-columns: 1fr;
}

.two-equal-sized-columns {
	grid-template-columns: 1fr 1fr;
}

.three-equal-sized-columns {
	grid-template-columns: repeat(3, 1fr);
}

.four-equal-sized-columns {
	grid-template-columns: repeat(4, 1fr);
}

/*Buttons*/
.button {
    cursor: pointer;
}
.button:hover {
	color: #e9e9e9;
	background: #212121;
}

.button-blue {
	border: 0;
    background: rgb(0, 147, 221) !important;
    color: #fff;
}
.button-blue:hover {
	background: rgb(0, 124, 195) !important;
    color: #fff;
}

.button-red {
    color: #fff;
    border: 0 none;
	background: rgb(188, 45, 25);
}
.button-red:hover {
	color: white;
	background: rgb(200, 40, 25);
}

.button-green {
    color: rgb(5, 155, 80);
    border: 2px solid rgb(5, 155, 80) !important;
	background: #fff;
}
.button-green:hover {
	color: white;
	background: rgb(5, 155, 80);
}
.button:disabled {
	cursor: not-allowed;
}

/*Card*/
.card {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
	cursor: pointer;
}

.card .card-media {
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
}

.card .card-media:hover {
	opacity: 0.9;
}

.card .card-content {
	color: #fff;
	font-size: 20px;
}

.card .actions {
	margin: 15px;
}

.card .actions button {
	background: rgb(0, 147, 221);
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	padding: 8px 12px;
}

.card .actions button:hover {
	background: rgb(0, 124, 195);
}

/*home*/
#logo {
	background: #fff;
	padding: 10px;
	cursor: pointer;
}
#logo img {
	height: 70px;
	width: 70px;
}
.hero {
	 height: 600px;
	 width: 100%;	
}

.hero-landing {
	background-image: url("../../assets/img/cyber-security.jpg");
	background-size: cover;
}

.hero-new-account {
	background-image: url("../../assets/img/img_1.jpg");	
	background-size: cover;
}
.hero-copy-new-account p {
	color: #000;
	background: lightgrey;
	display: inline;
}
.main .account {
	margin: 0 auto;
	width: 50%;
}

.hero-copy {
	color: #fff;
	margin: 10px 0 0 100px;
}
.hero-copy h1 {
	font-size: 70px;
	margin-bottom: 0;
}
.hero-copy p {
	font-size: 18px;
	margin-top: 5px;
}

nav {
	padding: 14px 40px;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	padding: 10px;
	margin-right: 20px;
	text-transform: uppercase;
}

nav ul li a {
	color: #fff;
}

nav ul .active {
	color: #f5f5f5;
	border-bottom: 5px solid lightgrey;
}

nav ul li:last-child {
	border: 1px solid #fff;
	border-radius: 12px;
	padding: 3px 18px;

}

nav ul li:last-child:hover {
	background: lightgrey;
	border-color: lightgrey;
}

nav ul a li:hover {
	color: rgb(0, 124, 195);
}

nav ul li:hover:not(:last-child) {
	border-bottom: 5px solid lightgrey;
}

.main section header {
	margin: 80px auto;
	font-size: 30px;
}

.main .landing {
	background-image: url(../img/img_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}

.main .landing article {
	font-size: 20px;
	padding: 10px;
	line-height: 1.6em;
	max-width: 450px;
}

.main .main-content img {
	width: 100%;
	/*height: 100%;*/
}

.main .main-content article button {
	background: #3b719f;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	margin: 30px auto;
	padding: 10px 20px;
}
.main .main-content article button:hover {
	background: rgb(0, 124, 195);
}

.main-showcase {
	height: 200px;
}

/*Login*/

.auth-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.auth-page .banner {
	background-image: url("../../assets/img/background.jpg");
	background-size: cover;
	color: #fff;
	font-size: 50px;
	padding: 30px;
	text-shadow: 1px 1px 2px grey; 
}

.auth-page .banner p {
	font-size: 25px;
}

.form {
	margin: auto;
	width: 60%;
}

.form h3 {
	font-size: 30px;
}

.form-row {
    max-width: 100%;
}

input {
    font-size: 18px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 14px;    
    margin: 5px auto 15px;
    width: 100%;
}

input:not([type=submit]):focus {
    outline: none;
    border: 1px solid rgb(0, 124, 195);
}

input[type="submit"] {
    border: 0 none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

input[type="submit"]:focus {
    outline-color: #fff;
}

input::placeholder {
    font-size: 18px;
}

.navigate {
    display: flex;
    justify-content: space-between;
    line-height: .8em;
}
.navigate a:hover {
	text-decoration: underline !important;
}

/*Admin*/
.ad-modal {
	background-color: rgba(0,0,0,0.95);
	color: #fff;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
	z-index: 999;
}
.ad-modal .modal-content { 
	height: 100%;
	max-width: 60vh;
	padding-top: 12vh;
	margin: 0 auto;
	position: relative;
}
.ad-modal .actions {
	display: flex;
	justify-content: space-between;
	padding-top: 8vh;
}
.ad-modal button {
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 40px;
}
.ad-modal .modal-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0px 28px 8px;
	font-size: 4em;
	width: auto;
	height: auto;
	background: transparent;
	border: 0;
	outline: none;
	color: #ffffff;
	z-index: 1000;
	font-weight: 100;
	line-height: 1;
}

#ad-nav {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	padding: 0 40px;
}

#ad-nav #logo {
	padding: 0;
}

#ad-nav #avatar {
	background: pink; /* Will be changed to background image later */
	border-radius: 50%;
	cursor: pointer;
	width: 40px;
	height: 40px;
}

#ad-nav #avatar::after {
	content: '';
	height: 5px;
	position: absolute;
	border-color: rgb(0, 124, 195);
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 30px;
	right: 25px;
	transform: rotate(45deg);
	width: 5px;
}

.ad-nav-right {
	padding-top: 10px;
}

.ad-main {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.ad-main aside {
	background: linear-gradient(45deg,#353d47 0,#21292e 100%);
	height: 600px;
	padding: 20px 0;
}

.ad-main aside ul {
	margin: 0;
	padding: 0;
}

.ad-main aside ul li {
	color: #76838f;
	cursor: pointer;
	padding: 15px;
	transition: 0s all !important;
	-webkit-transition: 0s all !important;
	-moz-transition: 0.5s all !important;
	-o-transition: 0.5s all !important;
}

.ad-main aside ul li:hover {
	color: #f5f5f5;
	background: #5e6a75;
}

.ad-main-showcase {
	margin: 30px 30px 0;
}

.ad-main-content .users {
	background-image: url('../../assets/img/img_3.jpg');
}
.ad-main-content .accounts {
	background-image: url('../../assets/img/img_4.jpg');
}
.ad-main-content .staff {
	background-image: url('../../assets/img/img_2.jpg');
}

/*All accounts*/
.ad-main-content hr {
	clear: both;
}

.ad-main-content table {
	border-collapse: collapse;
}
.ad-main-content table th, .ad-main-content table td {
	border-bottom: 1px solid #bbb;
	padding: 15px 20px;
}
.ad-main-content table button {
	background: #f3f3f3;
	border: none;
	border-radius: 3px;
	color: #087308;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 20px;
}
.ad-main-content section button {
	background: #f3f3f3;
	border: none;
	border-radius: 3px;
	color: red;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 20px;
}
.ad-main-content table button:hover, .ad-main-content section button {
	background: #e9e9e9;
}
.ad-main-content table button:focus {
	outline: 1px dashed #087308;
}
.ad-main-content table th:last-child, .ad-main-content table td:last-child {
	padding-left: 50px;
}

.ad-main-content .transaction-form {
	margin-top: 40px;
	width: 50%;
}

.ad-main-content .new-user-form .form-row {
	display: inline-block;
}

footer {
	align-items: baseline;
	color: #fff;
	background: #3b719f;
	height: 80px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
  
.side-nav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	color: #ccc;
	display: block;
	transition: 0.3s;
}
.side-nav li {
	font-size: 20px;
	text-transform: uppercase;
}
.side-nav li:hover {
	background: #000;
}

.side-nav .btn-close {
	border: 0 none;
	background: transparent;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	margin-left: 50px;
	position: absolute;
	top: 0;
	right: 22px;
}

.open-slide {
	position: absolute;
	right: 20px;
	top: 20px;
	visibility: hidden;
}