body {
	font-size: 18px;
	font-family: 'Roboto';
	margin: 0;
}

body a, ul a li, ul li {
 	transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-o-transition: 0.2s all;
}

h1 {
	color: #e7e7e9;
}

h2, h3 {
	color: #4F4D53;
}


ul li, li {
	list-style-type: none;
}

a {
	color: rgb(0, 124, 195);
	text-decoration: none !important;
}

hr {
	border: 1px solid #e9e9e9;
}

select {
	width: 100px;
    height: 30px;
}
.container {
	width: 80%;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.back {
	color: #4F4D53;
	cursor: pointer;
}

.show {
	display: block;
}

.toast {
	padding: 20px;
	background-color: #b8fdb8;
	border: 1px solid green;
	color: green;
	display: none;
	text-align: center;
}

.header:first-letter {
	border-top: 8px solid #4F4D53;
	padding-top: 15px;	
}

.grid {
	display: grid;
	justify-content: space-between;
	gap: 1em;
}

/*Grid Layout*/
.one-column {
	grid-template-columns: 1fr;
}

.two-equal-sized-columns {
	grid-template-columns: 1fr 1fr;
}

.three-equal-sized-columns {
	grid-template-columns: repeat(3, 1fr);
}

.four-equal-sized-columns {
	grid-template-columns: repeat(4, 1fr);
}

/*Buttons*/
.button {
    cursor: pointer;
}
.button:hover {
	color: #e9e9e9;
	background: #212121;
}

.button-blue {
	border: 0;
    background: rgb(0, 147, 221) !important;
    color: #fff;
}
.button-blue:hover {
	background: rgb(0, 124, 195) !important;
    color: #fff;
}

.button-red {
    color: #fff;
    border: 0 none;
	background: rgb(214, 25, 0);
}
.button-red:hover {
	color: white;
	background: rgb(200, 40, 25);
}

.button-green {
    border: 0;
    background: teal;
	color: #fff;
}
.button-green:hover {
	background: rgb(5, 155, 80);
}
.button:disabled {
	cursor: not-allowed;
}

/*Colors*/
.green {
	color: #00a677;
}

.red {
	color: red;
}

.blue {
	color: rgb(0, 124, 195);
}

.gold {
	color: #ffaa03;
}

/*Card*/
.card {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
	cursor: pointer;
}

.card .card-media {
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
}

.card .card-media:hover {
	opacity: 0.9;
}

.card .card-content {
	color: #fff;
	font-size: 20px;
}

.card .actions {
	margin: 15px;
}

.card .actions button {
	background: rgb(0, 147, 221);
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	padding: 8px 12px;
}

.card .actions button:hover {
	background: rgb(0, 124, 195);
}

/*home*/
#logo {
	cursor: pointer;
}
#logo img {
	height: 70px;
	width: 70px;
}
.hero {
	 width: 100%;	
}

.hero-landing {
	background-color: teal;
}

.main .account, .main .contact-us, .main .about-us {
	margin: 0 auto;
	width: 40%;
}

.hero-copy {
	margin: 74px auto;
	text-align: center;
}
.hero-copy h1 {
	font-size: 70px;
	margin-bottom: 0;
}
.hero-copy p {
	color: #fff;
	font-size: 18px;
	margin-top: 5px;
}

.no-hero {
	background-color: teal;
}

nav {
	padding: 14px 40px;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	color: #e7e7e9;
	cursor: pointer;
	display: inline-flex;
	padding: 10px;
	margin-right: 20px;
	text-transform: uppercase;
}

nav ul li a {
	color: #e7e7e9;
}

nav ul .active {
	color: #f5f5f5;
	border-bottom: 5px solid #e7e7e9;
}

nav ul li:last-child {
	border: 1px solid #e7e7e9;
	border-radius: 12px;
	padding: 3px 18px;

}

nav ul li:last-child:hover {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
}

nav ul li:hover:not(:last-child) {
	border-bottom: 5px solid #e7e7e9;
}

.main section header {
	margin: 100px auto;
	font-size: 40px;
	font-weight: 100;
}

.main .landing {
	background-image: url(../img/img_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 600px;
}

.main .landing article {
	font-size: 20px;
	padding-top: 100px;
	line-height: 1.6em;
	max-width: 450px;
	margin-left: 100px;
	font-weight: 100;
}

.main .main-content img {
	width: 100%;
	/*height: 100%;*/
}

.main .main-content article button {
	background: teal;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	margin: 30px auto;
	padding: 15px 25px;
}
.main .main-content article button:hover {
	background: rgb(0, 99, 156);
}

.main-showcase {
	margin: 120px auto;
}
.main-showcase .why-us {
	font-size: 24px;
	margin: 0 auto 30px;
	max-width: 480px;
}
.main-showcase .why-us p {
	font-size: 18px;
	font-weight: 200;
}

/*Help*/
.main .help {
	margin: 0 auto 100px;
}
.main .help ul li {
	line-height: 1.6em;
	list-style-type: disc;
}

/*Login*/

.auth-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.auth-page .nav {
	display: none;
}

.auth-page .banner {
	background: teal;
	font-size: 50px;
	padding: 30px;
}

.auth-page .banner #logo {
	display: inline-block;
}

.auth-page .banner {
	color: #fff;
}

.auth-page .banner p {
	font-size: 25px;
}

.form {
	margin: auto;
	width: 60%;
}

.form h3 {
	font-size: 30px;
}

.form-row {
    max-width: 100%;
}

input {
    font-size: 18px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 14px;    
    margin: 5px auto 15px;
    width: 100%;
}

input:not([type=submit]):focus {
    outline: none;
    border: 1px solid rgb(0, 124, 195);
}

input[type="submit"] {
    border: 0 none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

input[type="submit"]:focus {
    outline-color: #fff;
}

input::placeholder {
    font-size: 18px;
}

.navigate {
    display: flex;
    justify-content: space-between;
    line-height: .8em;
}
.navigate a:hover {
	text-decoration: underline !important;
}
.navigate a:visited {
	color: rgb(0, 124, 195);
}

/*Admin*/
.ad-modal {
	background-color: rgb(250, 250, 250);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
	border-radius: 5px;
	display: none;
	position: fixed;
	top: 10px;
	right: 25%;
	bottom: 50%;
	left: 25%;
	padding: 20px;
	z-index: 999;
}
.ad-modal .modal-content { 
	height: 100%;
	max-width: 60vh;
	padding-top: 12vh;
	margin: 0 auto;
	position: relative;
}
.ad-modal .actions {
	display: flex;
	justify-content: space-around;
	padding-top: 8vh;
}
.ad-modal button {
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 40px;
}
.ad-modal .modal-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0px 28px 8px;
	font-size: 4em;
	width: auto;
	height: auto;
	background: transparent;
	border: 0;
	outline: none;
	z-index: 1000;
	font-weight: 100;
	line-height: 1;
}

#ad-nav {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	padding: 0 40px;
}

#ad-nav #logo {
	padding: 0;
}

#ad-nav #avatar {
	border-radius: 50%;
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.dropdown-content {
	display: none;
	padding: 10px 0;
	background-color: #f9f9f9;
	font-size: 14px;
	min-width: 100px;
	box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	position: absolute;
	right: 20px;
	top: 60px;
	z-index: 1;
}
.dropdown-content a {
	display: block;
	line-height: 3em;
	padding: 0 20px;
}
.dropdown-content a:hover {
	background-color: #e9e9e9;
}

.accordion {
	transition: 0.4s;
}

.panel {
	font-size: 16px;
	padding: 0 40px;
    background-color: rgb(6, 60, 90);
    display: none;
	transition: max-height 0.2s ease-out;
}
.panel a {
	color: #e5e5e5 !important;
	display: block;
	line-height: 3em;
}
.panel a:hover {
	text-decoration: underline !important;
}
.accordion .more-options {
	background: #fff;
	border-radius: 8px;
	box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.2);
	display: none;
	padding: 20px;
	top: 60px;
	right: 120px;
}
.accordion .more-options button {
	margin-top: 10px;
}

.ad-nav-right {
	padding-top: 10px;
}

.ad-main {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.ad-main .card-content img {
	width: 40%;
}

.ad-main .card button {
	font-size: 16px;
	width: 50%;
}

.ad-main aside {
	background: linear-gradient(45deg, #00a2a2 0, teal 100%);
	padding: 20px 0;
}

.ad-main aside ul {
	margin: 0;
	padding: 0;
}

.ad-main aside ul li {
	color: #f5f5f5;
	cursor: pointer;
	padding: 15px;
}

.ad-main aside ul li a {
	color: #f5f5f5;
}

.ad-main aside ul li:hover {
	color: #f5f5f5;
	background: rgb(0, 124, 195);
}

.ad-main-showcase {
	margin: 30px 30px 0;
}

/*All accounts*/
.ad-main-content hr {
	clear: both;
}

.ad-main-content table {
	border-collapse: collapse;
}
.ad-main-content table .ellipsis {
	display: none;
}
.ad-main-content table th, .ad-main-content table td {
	border-bottom: 1px solid #bbb;
	padding: 15px 20px;
}
.ad-main-content table button {
	background: #f3f3f3;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 20px;
}
.ad-main-content section button {
	background: #f3f3f3;
	border: none;
	border-radius: 3px;
	color: red;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 20px;
}
.ad-main-content table button:hover, .ad-main-content section button {
	background: #e9e9e9;
}
.ad-main-content table button:focus {
	outline: 1px dashed #087308;
}
.ad-main-content table th:last-child, .ad-main-content table td:last-child {
	/*padding-left: 50px;*/
}

.ad-main-content .transaction-form {
	margin-top: 40px;
	width: 50%;
}

.ad-main-content .new-user-form .form-row {
	display: inline-block;
}

.footer {
	color: #fff;
	background: teal;
	padding: 10px 0;
	text-align: center;
	margin-top: 250px;
}
footer {
	margin: 20px auto;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
  
.side-nav a {
	padding: 20px;
	text-decoration: none;
	color: #ccc;
	display: block;
	transition: 0.3s ease-in-out;
}
.side-nav li {
	border-bottom: 1px solid #ffffff21;
	font-size: 20px;
	margin: 0 30px;
	text-transform: uppercase;
}
.side-nav li:hover {
	background: #000;
}

.side-nav .btn-close {
	border: 0;
	background: transparent;
	color: #ffffff;
	cursor: pointer;
	line-height: 1;
	font-size: 4em;
	position: absolute;
	top: 0;
	right: 10px;
	outline: none;
	font-weight: 100;
	
}

.open-slide {
	position: absolute;
	right: 20px;
	top: 20px;
	visibility: hidden;
}