.hero-copy {
	margin: 74px auto;
	text-align: center;
}
.hero-copy h1 {
	font-size: 70px;
	margin-bottom: 0;
}
.hero-copy p {
	color: #fff;
	font-size: 18px;
	margin-top: 5px;
}

.no-hero {
	background-color: teal;
}
.main .account {
	margin: 0 auto;
	width: 40%;
}