
/************ Non-Mobile First Method ************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header:first-letter {
        border: 0 none;
    }

    #logo {
        padding: 5px;
    }
    #logo img {
        height: 60px;
        width: 60px;
    }
    .open-slide {
        visibility: visible;
    }
    .nav-links div:first-child, ul {
        display: none;
    }
    .hero {
        height: 500px;
    }
    .hero-copy {
        margin: 10px 0 0 50px;
        max-width: 300px;
    }
    .hero-copy h1 {
        font-size: 60px;
        margin-bottom: 0;
    }
    .hero-copy p {
        font-size: 16px;
        margin-top: 5px;
    }
    .main section header {
        margin: 40px auto;
    }
	.main .landing {
        background: #f3f3f3;
        height: 300px;
        text-align: center;
    }
    .main .landing article {
        max-width: 100%;
    }

    /*Login*/
    .auth-page {
        display: block;
    }
    .auth-page .banner {
        font-size: 40px;
        padding: 22px;
    }

    .form {
        width: 80%;
    }

    /*Admin*/
    #ad-nav {
        padding: 5px 10px;
    }

    #ad-nav #avatar {
        display: none;
    }

    #ad-nav #avatar::after {
        display: none;
    }

    .ad-main {
        display: block;
        margin-bottom: 50px;
    }

    .ad-main aside {
        display: none;
    }

    .ad-main-showcase {
        box-sizing: border-box;
        margin: 10px 10px 0;
    }

    .ad-main-content {
        display: block;
    }

    /*All accounts*/
    .ad-main-content table {
        font-size: 12px;
    }
    .ad-main-content table th, .ad-main-content table td {
        padding: 8px 10px;
    }
    .ad-main-content table button, .ad-main-content section button {
        font-size: 12px;
        padding: 2px 8px;
    }
    .ad-main-content table th:last-child, .ad-main-content table td:last-child {
        padding-left: 8px;
    }

    .ad-main-content .transaction-form {
        width: 80%;
    }

    .ad-main-content .new-user-form .form-row {
        display: block;
    }

    /*Account opening page*/
    .main .account {
        margin: 0;
        width: 100%;
    }
    .hero-copy-new-account {
        margin: 0 auto;
    }
    .hero-copy-new-account h1 {
        color: #243244;
        margin-top: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #logo {
        padding: 3px;
    }
    #logo img {
        height: 50px;
        width: 50px;
    }
	nav {
        padding: 10px;
    }
    .hero {
        height: 400px;
    }
    .hero-copy {
        max-width: 200px;
    }
    .hero-copy p {
        font-size: 12px;
    }
    .main section header {
        margin: 20px auto;
    }
    .main .landing {
        height: 250px;
        text-align: center;
    }
    .main .landing article {
        font-size: 16px;
        line-height: 1.2em;
    }

    /*Admin*/
    .ad-main-content .transaction-form {
        width: 100%;
    }

    /*Account opening page*/
    .hero-new-account .open-slide path {
        stroke: #000;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}